@model QuanLyGiaDung.Models.TinTuc

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Tin Tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ảnh Tin Tức
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhTinTuc)
        </dd>

        <dt>
           Tên Tin Tức
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTinTuc)
        </dd>

        <dt>
            Mô Tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            Chi Tiết
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chitiet)
        </dd>

        <dt>
           Tên DMTT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DMTinTuc.TenDMTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Chỉnh Sửa", new { id = Model.MaTinTuc }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
